 /* Extra small devices (phones, 48px and down) */
 @media only screen and (min-width: 480px) {
     .container {
         width: 44rem;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     .container {
         width: 56rem;
     }

     .header__title {
         font-size: 3.2rem;
         max-width: 44rem;
     }

     .header__caption {
         font-size: 1.6rem;
         max-width: 50rem;
     }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .container {
         width: 72rem;
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     .container {
         width: 96rem;
     }

     .favorite__title-box {
         flex-basis: 60%;
     }

     .wrapper-rating {
         flex-basis: 40%;
     }

     .about {
         justify-content: space-evenly;
     }

     .about__banner {
         width: 40rem;
         height: 40rem;
         flex-grow: 0;
     }

     .about__content {
         flex-grow: 0;
     }

     .about__caption {
         margin-bottom: 2rem;
     }

 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     .container {
         width: 114rem;
     }
 }