 /* Extra small devices (phones, 600px and down) */
 @media only screen and (min-width: 480px) {
     .container {
         width: 44rem;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     .container {
         width: 56rem;
     }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .container {
         width: 72rem;
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     .container {
         width: 96rem;
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     .container {
         width: 114rem;
     }
 }